<!doctype html>
<html>
<body>

	<% @users.each do |followed_user| %>
		<a href="/user/<%=followed_user["username"]%>" ><font color = "orange"><u><%= followed_user["username"]%></u></a></font><br>
	<% end %>