<!doctype html>
<html>
<body>

<ul class="list-group" id="all_tweet_container">
	<% if @tweets != nil %>
	<% @tweets.each do |tweet| %> 
			<li class="list-group-item each_tweet_container">
			<div>
	<input type="image" src= "<%=tweet["user"]["img_src"]%>" class="user_img"></div>
		<span class="tweet_name"><a href="/user/<%=tweet["user"]["username"]%>"> <%= tweet["user"]["first_name"].to_s + " " + tweet["user"]["last_name"].to_s%></a></span><span class="tweet_username_time"> <%= " @" + tweet["user"]["username"].to_s + " \u2022 " + tweet["time_string"] %> </span>
		<br>
		<% if session[:user_id] != nil && session[:user_id] != tweet["user_id"] %>
			<% if Usertouser.following(tweet["user_id"], session[:user_id]) %>
				<form  action="/follow" method="post">
					<input type="hidden" name="_method" value="delete" />
					<input type="hidden" name="user_getting_followed_id" value=<%=tweet["user_id"]%>>
					<input type = "submit" value="unfollow">
				</form>
			<% else %>
				<form  action="/follow" method="post">
					<input type="hidden" name="user_getting_followed_id" value=<%=tweet["user_id"]%>>
					<input type = "submit" value="follow">
				</form>
			<% end %>
		<% end %>
		
		<%= tweet["text"] %>
		<br>

		</li>

		<% end %> 
		<% end %>
		</ul>

		<!--TEXTAREA Name="content" ROWS=2 COLS=20></TEXTAREA-->

	<script>


	</script>
</body>
</html>