<!doctype html>
<html>
<head>
</head>
<body>


  <body id="body">
    <header>
     <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/"><strong>Home</strong></a></li>

          </ul>
          <form class="navbar-form navbar-left" role="search"
          action="/search" method="get">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="search_values">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
         <% if session[:user_id] == nil %>
         <li><button type="button" class="btn btn-primary navbar-btn tweet-button" onclick="showModal('login')">Login</button></li>

         <li><a href="/register"><strong>Register</strong></a></li>
         <% else %>
         <li><a href="/user/profile"><strong>Profile</strong></a></li>
         <li><a href="/logout"><strong>Logout</strong></a></li>
         <li>
          <button type="button" class="btn btn-primary navbar-btn tweet-button" onclick="showModal('tweet')">Tweet</button>
        </li>
         <% end %>
      </ul>
    </div>
  </div>
</nav>
</header>






    <div id="myLoginModal" class="modal fade">
          <div class="modal-dialog">
          <div class="modal-content ">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h3>Login to nanotwitt3r<h3>
          </div>
          <div class="modal-body">
            <form method="post" action='/login' name="login_form">
              <p><input type="text" class="span3" name="username" id="login-user-box" placeholder="Username"></p>
              <p><input type="password" class="span3" name="password" id="login-pass-box" placeholder="Password"></p>
              <p><button type="submit" class="btn btn-primary">Sign in</button>
              </p>
            </form>
          </div>
          <div class="modal-footer">
            New To Site?
            <a href="/register" class="btn btn-primary">Register</a>
          </div>
          </div>
          </div>
        </div>




<div id="myTweetModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header tweet-box-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create New Tweet</h4> 
      </div>
      <div class="modal-body">
        <form class="tweet-box-form">
         <TEXTAREA onkeyup="textCounter(this,'counter',140);" placeholder = "Tweet up to 140 characters" ROWS=5 COLS=30 class="tweet-textbox" id="my_tweet_textbox"></TEXTAREA>
          <input disabled  maxlength="3" size="3" value="140" id="counter">
          <form onsubmit = "return requireInfo(this);" action="/profile" method="post">
         </textarea>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary tweet-button" onclick="createTweet('my_tweet_textbox')" data-dismiss="modal">Tweet</button>
      </div>
    </div>
  </div>
</div>

<%= yield %>


  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" href="/css/core.min.css" type="text/css">
  <script src="/js/jquery-1.11.2.min.js" type="text/javascript"></script>
  <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/js/myjs.min.js" type="text/javascript"></script>
 

  <script>
  setTweetDrag();
  </script>

</body>
</html>