<!doctype html>
<html>
<head>
	<title> Sign In! </title>
	<meta charset="utf-8">
	<script type="text/javascript"> 
		function requireInfo(form) {

			if(form.username.value == ""){
				alert("Error: Username cannot be blank!");
				return false;
			}
			if(form.password.value == ""){
				alert("Error: password cannot be blank!");
				return false;
			}
			return true;
		}
	</script>
</head>
<body background="images/cartoon-clouds.jpg">
	<div class="page-outer">
	</div>
	<div class="page-container">
		<h1 align = "left"> <font color = "red"> nanoTwitter </font></h1>
	<form onsubmit = "return requireInfo(this);" action="/login" method="post">
	<% if flash[:error] %>
 		<center> <p class="alert alert-error" style="color:red;"><%= flash[:error] %> </p>
	<% end %>
	<h3 align = "center"><u> Sign In </u></h3>
	<table style="width:50%" align = "center">
		<tr>
			<th>Username</th>
			<th><input type = "text" name = "username" required></th>
		</tr>
		<tr>
			<th>Password</th>
			<th><input type = "password" name = "password" required></th>
		</tr>
	</table>
		<p align = "center"><input type = "submit" value = "Log In"></p>
	</form>
	<form action="/register" method="get">
		<h6 align = "center"><input type = "submit" value = "New User?"></h6>
	</form>
	</div>
</body>
</html>