<!doctype html>
<!--we want to aggregate a user's tweets-->
<html>
<head>
	<title> Welcome to your nanoTwitter profile! </title>
	<meta charset="utf-8">
</head>
<body background="/images/cartoon-clouds.jpg">
	<div class="page-outer">
		<div class="page-container">
			<h1 align = "left"> <font color = "red"> nanoTwitter </font></h1>
			<div class="profile-left">
				<div class="profile-card">
					<h2> <%= @user.first_name + " " + @user.last_name %></h2> <br>
					<h5> <a href="/user/<%=@user.username%>" ><%= @user.username%></a><%=" " + @user.email %> </h5>
					<img class="profile-pic" src="<%=@user.img_src%>">
				</div>
			</div>
			
			<div class="profile-left" align="center">
				<br><br><br><br>
				<% if @users != nil && !@users.empty? %>
					<br><h3 align = "center"><font color = "orange">You are following: </h3> </font><br>
					<%= erb :display_usernames %>
				<% else %>
					<h3><font color = "red"> You are not currently following anyone. </font></h3>
				<% end %>
			</div>


		</div>
	</div>
</body>
</html>
