<!doctype html>
<html>
<head>
	<title> Register for a nanoTwitter profile! </title>
	<meta charset="utf-8">
	<script type="text/javascript"> 
		function validatePassword(form) {

			if(form.password.value != form.confirm_password.value){
				alert("Error: Passwords do not match. Please re-enter your password");
				return false;
			}
			if(form.first_name.value == ""){
				alert("Error: First Name cannot be blank!");
				return false;
			}
			if(form.last_name.value == ""){
				alert("Error: Last Name cannot be blank!");
				return false;
			}
			if(form.username.value == ""){
				alert("Error: Username cannot be blank!");
				return false;
			}
			if(form.dob.value == ""){
				alert("Error: Date of Birth cannot be blank!");
				return false;
			}
			if(form.email.value == ""){
				alert("Error: email cannot be blank!");
				return false;
			}
			if(form.email.value.includes("@") == false){
				alert("Please enter a proper email");
				return false;
			}
			if(form.password.value == ""){
				alert("Error: password cannot be blank!");
				return false;
			}
			return true;
		}
	</script>
</head>
<body background="images/cartoon-clouds.jpg">
	<div class="page-outer">
	</div>
	<div class="page-container">
		<h1 align = "left"> <font color = "red"> nanoTwitter </font></h1>

	<form onsubmit = "return validatePassword(this);" action="/register" method="post">
		<% if flash[:error] %>
 			<center> <p class="alert alert-error" style="color:red;"><%= flash[:error] %> </p>
		<% end %>
		<h3 align = "center"><u> Registration </h3></u>
		<table style="width:50%" align = "center">
			<tr>
				<th>First Name:</th>
				<th><input type = "text" name = "first_name" required></th>
			</tr>
			<tr>
				<th>Last Name:</th>
				<th><input type = "text" name = "last_name" required></th>		
			</tr>
			<tr>
				<th>Username: </th>
				<th><input type = "text" name = "username" required></th>
			</tr>
			<tr>
				<th>Date of Birth:</th>
				<th><input type = "date" name = "dob" required></th>
			</tr>
			<tr>
				<th>Email:</th>
				<th><input type = "email" name = "email" required></th>
			</tr>
			<tr>
				<th>Password:</th>
				<th><input type = "password" name = "password" required></th>
			</tr>
			<tr>
				<th>Confirm Password:</th>
				<th><input type = "password" name = "confirm_password" required></th>
			</tr>
			<tr>
				<th>Bio (Optional):</th>
				<th><input type = "text" name = "bio"></th>
			</tr>
		</table>
		<p align = "center">
			<input type = "submit" value = "Register for nanoTwitter">
		</p>
	</form>
	<form action="/login" method="get">
		<h6 align = "center"><input type = "submit" value = "Already A User?"></h6>
	</form>
	</div>
</body>
</html>