<!doctype html>
<!--we want to aggregate tweets including the search terms-->
<html>
<head>
	<title> nanoTwitter Search Results</title>
	<meta charset="utf-8">
</head>
<body>
	<div class="page-outer">

		<style>
    		.indent-1 {float: left;}
    		.indent-1 section {width: 50%; float: left;}
		</style>


		<br><br><h1 align = "left"> <font color = "red"> nanoTwitter </font></h1>

		<section class="indent-1">
			<section align="left">
			<h2>SEARCH RESULTS (TWEETS):</h2> <br>
			<% if @tweets.empty? %>
				<h3 align = "center"><font color = "red"> No tweets match the search parameters. </font></h3>
			<% else %>
			
				<%= erb :display_tweets %>

			<% end %> 
			</section>

			<section align="center">
			<h2>SEARCH RESULTS (USERS):</h2> <br>
			<% if @users.empty? %>
				<h3 align = "center"><font color = "red"> No users match the search parameters. </font></h3>
			<% else %>
			
				<%= erb :display_usernames %>

			<% end %> 
			</section>
		</section>
	</div>
	<div class="page-container">

		

	</div>
</body>
</html>