<!doctype html>
<html>
<head>
	<title> Timeline </title>
</head>

<body>
	<div class="page-outer">
	</div>
	<div class="page-container">
		<h1 align = "left"> <font color = "red"> nanoTwitter </font></h1>

		<h2>TIMELINE</h2>
		<h4>Authors: Alex Averbook, Eddie Tai, Eric Leviton, Sydney Schweber</h4><br>

		<% if session[:user_id] != nil %>

			<input type="text" id = "my_tweet_textbox2" onkeyup="textCounter(this,'counter',140);" id="message" placeholder = "Tweet up to 140 characters" size="121" name="text">
			<p><input type="submit" value="Tweet" onclick="createTweet('my_tweet_textbox2')">
			</p>
	
		<% end %>



		<%= erb :display_tweets %>
	</div>

</body>
</html>
