<!doctype html>
<!--we want to aggregate a user's tweets-->
<html>
<head>


</head>
<body background="images/cartoon-clouds.jpg">
	<div class="page-outer">
	</div>
	<div class="page-container">
		<h1 align = "left"> <font color = "red"> nanoTwitter </font></h1>

		<h2> <%= @user.first_name%>'s Page:</h2> <br>

		<% if session[:user_id] != nil  && session[:user_id]  == @user.id %>
			<form onsubmit = "return requireInfo(this);" action="/tweet" method="post">
			<input type="text" onkeyup="textCounter(this,'counter',140);" id="message" placeholder = "Tweet up to 140 characters" size="121" name="text">
				<p><input type="submit" value="Tweet">
				</p>
				</form>
		<% end %>

		<% if @tweets.empty? %>
			<h3 align = "center"><font color = "red"> You have not yet posted any tweets. </font></h3>
		<% else %>

			<%= erb :display_tweets %>
		<% end %> 
		</div>
	

</body>
</html>