
.user_img{

  width:50px;
  height:50px;
  position:relative;
  float:left;
  margin-left:10px;
  margin-right:10px;

}

#all_tweet_container{

  width:700px;

}

.each_tweet_container{
  color: rgb(41, 47, 51);
  /*border: 1px solid;*/
  background-color: white;
  text-align:left;
}

.tweet_name{

  font-weight: bold;

}

.tweet_username_time{

  color:#8899a6;


}

.tweet_img_buttons{

  width:20px;
  height:15px;
  margin-left:20px;
  margin-top:15px;


}

.tweet-button{

  width:100px;

}

.tweet-textbox{
  margin: 0 auto;
  height:200px;width:550px;

}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.tweet-box-button{
  width:100px;
}

.tweet-box-header{
  text-align:center;
  color: #8899a6;
  cursor:move
}

.tweet-box-form{
  text-align:center;
}

.navbar{
      position: fixed;
      width:100%;
      top: 0px;
      z-index:1;
}

.page-container{
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
    min-width: 1450px;
}


.profile-left{
  display: block;
  float:left;

}

.profile-center{
  display: block;
 
}




.profile-pic{
  display: block;
  height:200px;
  width:200px;

}

#login-user-box{
  width:200px;
}

#login-pass-box{
  width:200px;
}